.formContainer {
  align-self: center;
  margin-top:50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  min-height: fit-content;
  min-width: fit-content;

  border: 1px solid black;
}

.form-control {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.widthFull {
  width: 100%;
}