.searchBarInput {
  background-color: var(--white);
  display: flex;
  width: 216px;
  height: 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  text-justify: auto;
  padding: 0 15px;
  font-weight: bold;
  color: var(--big-element)
}


