* {
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  flex-direction: column;
  background-color: var(--body-color);
  width: 100vw;
  height: 100vh;
  align-content: center;
}

.header {
  background-color: var(--big-element);
  margin:15px auto;
  height: 70px;
  width: 95vw;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
}

.buttonHolder {
  display: flex;
  align-items: center;
  margin-left:40px;

}

.button{
  background: var(--button);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

.userStuffHolder {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

#userIcon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  background-color: var(--white);
}

.container {
  background-color: var(--big-element);
  min-height: 600px;
  width: 95vw;
  margin:10px auto;
  border-radius: 10px;
}

.leftMargin {
  margin-left:15px;
}
.rightMargin {
  margin-right: 15px;
}

.filterWrap {
  width: 250px;
  padding: 0 10px;
  margin: 20px 10px;
  color: var(--big-element);
  font-weight: bold;
}

.options {
  color: var(--big-element);
  background-color: var(--body);
  font-weight: bold;
  border-radius: 15px;
  max-height: 75px;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 70px;
  margin: 5px 0 0 0;
  z-index: 1;

  overflow-y: scroll; 
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.option {
  background-color: var(--button);
  margin: 2px 0 0 0;
  border-radius: 50px;
  cursor: pointer;
  z-index: 2;
  max-width: 175;
  text-align: center;
}

.options::-webkit-scrollbar {
  display: none;
}

.marginRight10 {
  margin-right: 10px;
}

.error {
  margin: 10px 0;
  background-color: var(--error);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}